/* 评估申请样式 */
ul.forminfo {
    padding-left: 75px;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow: hidden;
    border-bottom: #CCC 1px solid;
}
.forminfo li {
    line-height: 34px;
    font-size: 14px;
    width: 460px;
    margin-bottom: 15px;
    float: left;
    overflow: hidden;
    position: relative;
}
.forminfo li i{
    color: #7f7f7f;
    padding-left: 10px;
    font-style: normal;
}
.forminfo li label {
    font-size: 14px;
    width: 210px;
    color: #1f2023;
    padding-right: 10px;
    line-height: 32px;
    display: block;
    float: left;
    margin-left: 0;
}
.dfinput {
    width: 147px;
    height: 31px;
    line-height: 32px;
    border-top: solid 1px #a7b5bc;
    border-left: solid 1px #a7b5bc;
    border-right: solid 1px #ced9df;
    border-bottom: solid 1px #ced9df;
    background: url(../images/inputbg.gif) repeat-x;
    padding: 0 10px;
}
.t_input{
    width:70px;
}
.forminfo .select2{
    height: 31px;
    width: 147px;
   border-color: #a7b5bc #ced9df #ced9df #a7b5bc;
}
.forminfo-2 li{
    width: 100%;
}
.forminfo li.li_long {
    width: 100%;
}
.forminfo li cite {
    line-height: 34px;
    height: 34px;;
}
.forminfo-4 li label{
    width:0px;
}
.vocation, .usercity {
    float: left;
    height: 34px;
    overflow: hidden;
}
